/* SITEWIDE */

html {
    font-size: 16px;
}

body {
    background-color: rgb(3, 10, 24);
    color: #EFE;
    font: 1rem/1.4 "Lato","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

main {
    background-color: white;
    color: #111;
}

header, footer, #container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font: 1.5rem bold;
}

h2, p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

/* MAIN NAVIGATION */

nav ul a {
    color: #EFE;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: .5rem;
}

nav ul a:hover {
    text-decoration: underline;
}

/* SOCIAL MEDIA LINKS */



/* PORTFOLIO HOME PAGE */


/* PROJECTS PAGE */


/* RESUME PAGE */


/* CONTACT PAGE */